{% extends 'index4.html' %}
{% block body %}
{% load static %}
<style>
body{
	font-family: 'Open Sans', sans-serif;
	background: url({% static 'images/banner5.jpg' %}) no-repeat 0px 0px;
	background-size:cover;
}
</style>
{% if error %}
<script>
    alert('1 Student Added Sucessfully');
	window.location='{% url 'view_student' %}';
</script>
{% endif %}

		<!---header--->
		<div class="header">
			<h1 style = "color : white ; font-weight : bold">Add Student Detail</h1>
		</div>
		<!---header--->
		<!---main--->
			<div class="main-content" style="width:100%">
				<div class="contact-w3" style="width:80%">

					<form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
						<label >Enter First Name</label>
						<input type="text" name="fname" placeholder="Enter first name" required>
						</div>
						<div class="form-group">
						<label >Enter Second Name</label>
						<input type="text" name="lname" placeholder="Enter second name" required>
						</div>

						<div class="form-group">
                        <label >Email</label>
						<input type="email" name="email"  required>
						</div>

						<div class="form-group">
							<label >Birth</label>
						<input type="date" name="birth"  required>
						</div>


<div class="form-group">
							<label class="control-label " for="department">Class</label>
							<select class="select2_dropdown" name="clas" id="department" multiple required>
								{% for i in clas %}
								<option value="{{i.id}}">{{i.name}}</option>
								{% endfor %}
							</select>
							<span style="color:red">*Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</span>

</div>


<div class="form-group">
                        <label >Roll</label>
						<input type="text" name="roll"  required>
</div>
						<div class="form-group">
                        <label >Year</label>
						<input type="number" name="year"  required>
						</div>
						<div class="form-group">
                    <label >Gender</label><i style="border:1px solid black;background-color:white;width:96%;height:42px;" align="left">
                        Male<input  type="radio" name="gen" value="Male"> Female<input type="radio" value="Female" name="gen"></i>
						</div>
						<div class="form-group">
						<label >Address</label>
						 <input type="text" name="add" placeholder="Enter  Address" required>
						</div>
						<div class="form-group">
                    <label >Mobile</label>
						<input id="txtPhoneNo" type="text" onkeypress="return isNumber(event)" name="mobile" placeholder="Enter  Mobile" required>
						</div>
						<div class="form-group">
						<label >Your Image</label>
						<input type="file" accept="image/*" name="img" style="border:1px solid black;background-color:white" required>
						</div>

						<input type="submit" value="Submit" onclick="ValidateNo();">
					</form>
				</div>
			</div>
<script>
function isNumber(evt) {
  evt = (evt) ? evt : window.event;
  var charCode = (evt.which) ? evt.which : evt.keyCode;
  if (charCode > 31 && (charCode < 48 || charCode > 57)) {
    alert("Please enter only Numbers.");
    return false;
  }

  return true;
}

function ValidateNo() {
  var phoneNo = document.getElementById('txtPhoneNo');

  if (phoneNo.value == "" || phoneNo.value == null) {
    alert("Please enter your Mobile No.");
    return false;
  }
  if (phoneNo.value.length < 10 || phoneNo.value.length > 10) {
    alert("Mobile No. is not valid, Please Enter 10 Digit Mobile No.");
    return false;
  }

  alert("Success ");
  return true;
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}