{% extends 'index4.html' %}
{% block body %}
{% load static %}
 <link rel='stylesheet' type='text/css' href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel='stylesheet' type='text/css' href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
<style>
th{
width:17%;
}

.button{
    background-color:orange;
    color:white;
}

</style>
<center><h2 style="color:red">View Books</h2></center>
 <div class="container">
<table class="table table-bordered " id="example" style="width:100%">
  <thead>
  <tr>
    <th>Book Id</th>
    <th>Book Image</th>

    <th>Book Name</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
   <tbody>

    {% for i in book %}

  <tr>
    <td>{{i.b_id}}</td>
      <td><img style="width:85%" src="{{i.image.url}}" /></td>
      <td>{{i.b_name}}</td>
      <td>{{i.author}}</td>
      <td>{{i.isbn}}</td>
      <td>{{i.cat.b_cat}}</td>
    <td><a href="{% url 'edit_books' i.id %}"><button class="button button1">Edit</button></a></td>
     <td> <a href="{% url 'delete_book' i.id %}"><button class="button button1">Delete</button></a></td>

  </tr>

    {% endfor %}
    </tbody>
</table>

 </div>




<script  src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script  src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script  src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
</script>
{% endblock %}
{% block extrascript %}


{% endblock %}
